.DS_Store
.ipynb_checkpoints/

data/!
**/build
**/__pycache__
/viz/audio/chardonneret_elegant.wav
/viz/audio/corneille_noire.wav
/viz/audio/epervier_d_europe.wav
/viz/audio/etourneau_sansonnet.wav
/viz/audio/faucon_crecerelle.wav
/viz/audio/faucon_hobereau.wav
/viz/audio/fauvette_a_tete_noire.wav
/viz/audio/geai_des_chenes.wav
/viz/audio/gobemouche_gris.wav
/viz/audio/gobemouche_noir.wav
/viz/audio/goeland_argente.wav
/viz/audio/grimpereau_des_jardins.wav
/viz/audio/grive_draine.wav
/viz/audio/grive_litorne.wav
/viz/audio/grive_mauvis.wav
/viz/audio/grive_musicienne.wav
/viz/audio/heron_cendre.wav
/viz/audio/hirondelle_rustique.wav
/viz/audio/hypolais_polyglotte.wav
/viz/audio/martinet_noir.wav
/viz/audio/merle_noir.wav
/viz/audio/mesange_a_longue_queue.wav
/viz/audio/mesange_bleue.wav
/viz/audio/mesange_charbonniere.wav
/viz/audio/mesange_huppee.wav
/viz/audio/mesange_noire.wav
/viz/audio/moineau_domestique.wav
/viz/audio/moineau_friquet.wav
/viz/audio/mouette_rieuse.wav
/viz/audio/perruche_a_collier.wav
/viz/audio/pic_epeiche.wav
/viz/audio/pic_epeichette.wav
/viz/audio/pic_vert.wav
/viz/audio/pie_bavarde.wav
/viz/audio/pigeon_biset_des_villes.wav
/viz/audio/pigeon_colombin.wav
/viz/audio/pigeon_ramier.wav
/viz/audio/pinson_des_arbres.wav
/viz/audio/pouillot_fitis.wav
/viz/audio/pouillot_veloce.wav
/viz/audio/roitelet_a_triple_bandeau.wav
/viz/audio/roitelet_huppe.wav
/viz/audio/rougegorge_familier.wav
/viz/audio/rougequeue_noir.wav
/viz/audio/serin_cini.wav
/viz/audio/sitelle_torchepot.wav
/viz/audio/tourterelle_turque.wav
/viz/audio/trogolodyte_mignon.wav
/viz/audio/verdier_d_europe.wav
