.DS_Store
.ipynb_checkpoints/

data/!
**/build
**/__pycache__
/viz/f_max_species_q90.txt
/viz/f_max_species_q95.txt
/viz/f_min_species_q90.txt
/viz/f_min_species_q95.txt
/viz/f_median_species_q90.txt
/viz/f_median_species_q95.txt
/viz/spec_10sec_species_q90
/viz/spec_10sec_species_q95
/viz/audio/species_wav/

