[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
notebook = "*"
numpy = "*"
matplotlib = "*"
keras = "*"
librosa = "*"
scipy = "*"
pydrive = "*"
seaborn = "*"
tensorflow = "*"
sklearn = "*"
microfaune = {path = "./microfaune_package"}

[requires]
python_version = "3.7"
